html,
body {
  padding: 0;
  margin: 0;
  font-family:   "Roboto", sans-serif;

    background-image: linear-gradient(to right top, #20ebf2, #4392dc, #026e83, #4f02ac, #0004d7);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.position{
  position: relative;
}
